<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="DrillDatabaseProperties">
		<title>Свойства базы данных инструментов сверловки</title>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="DrillDatabasePropMainSizer" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="DrillDatabaseEncodingSizer" member="no">
					<label>Кодировка информационных строк TBL-файла</label>
					<object class="sizeritem">
						<object class="wxComboBox" name="ID_COMBO_DATABASE_ENCODING" variable="DrillDatabaseEncodingCombo" member="yes">
							<selection>0</selection>
							<handler function="OnDrillDatabaseEncodingComboSelected" entry="EVT_COMBOBOX" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="DrillDatabaseOptionsSizer" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_TBL_FORMAT_STRICT" variable="DrillTBLDatabaseStrictCheck" member="yes">
							<label>Строгий стандарт PCAD4 TBL</label>
							<handler function="OnDrillTBLDatabaseStrictCheckClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_SORTING_DRILL_FILE" variable="DrillFileSortingCheck" member="yes">
							<label>Сортировка файла сверловки</label>
							<handler function="OnDrillFileSortingCheckClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="DrillDatabasePropsButtons" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label>Принять</label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label>Отменить</label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
